html {
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: "Bartender Bold Serif",-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}

#home, #menu, #about, #order, #contact, #footer {
    display: flex;
    justify-content: center;
    width: 100%;
    text-align: center;
    background-color: black;
    border:1px black solid;
}

#menu-container, #about-container, #order-container {
    width: 100%;
    padding: 100px 12% 0;
    text-align: center;
}

#home-container {
    width: 100%;
    padding: 0 12%;
    text-align: center;
}

#contact-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 100px 10% 0;
    justify-content: center;
    align-items: center;
}

.order-container-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#footer-container {
    width: 100%;
    padding: 100px 12% 100px;
    text-align: center;
}

#contact-container-inner {
    display: flex;
    width: 100%;
    max-width: 1000px;
    justify-content: center;
    align-items: center;
}

.home-row1 {
    width: 100%;
    display: flex;
}

.home-row1-col1 {
    width: 50%;
}

.home-row1-col2 {
    display: flex;
    flex-direction: column;
    margin-top: 20%;
    align-items: center;
    width: 50%;
}

.home-text1 {
    position: relative;
    left: -15%;
    font-size: 4.2vw;
    font-family: "Bartender Semi Condensed Serif Pressed",-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-weight:bold;
    color: #ad9a74;
}

.home-text2 {
    font-size: 2vw;
    font-family: "BalsamiqSans-Italic";
    font-style: italic;
    color: #ad9a74;
}

.home-text3 {
    position: relative;
    left: 15%;
    font-size: 5vw;
    font-family: lobster;
    color: #ad9a74;
}

.menu-title, .about-title, .order-title, .contact-title {
    font-size: 2.5em;
    font-family: "Bartender Semi Condensed Serif Pressed",-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    color: #ad9a74;
    font-weight:bold;
    padding: 0 0 50px 0;
}

.menu-table, .menu-table-body, .menu-table-row, .contact-table {
    width: 100%;
}

.menu-table-row {
    display: flex;
}

.contact-image-container {
    width: 100%;
    padding-right: 5%;
}

.contact-table-container {
    max-width: 100%;
    background-color:#232323;
    padding: 20px 30px;
}

.menu-table-row, .contact-table-row {
    vertical-align: top;
    padding-bottom: 20px;
}

.menu-category {
    width: 30%;
    color: #808080;
    font-size: 2em;
    text-align: right;
    padding-right: 5%;
}

.menu-dishes {
    width: 70%;
    text-align: left;
    padding-left: 5%;
}

.order-form {
    max-width: 100%;
    width: 400px;
    text-align: left;
}

.order-item {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-bottom: 25px;
}

.order-item-desc {
    padding-right: 15px;
}

.order-item-title {
    color: #ad9a74;
    font-family: "Bartender Semi Condensed Serif Pressed",-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 1.6em;
    font-weight: bold;
}

.order-item-details, .order-item-cost {
    color: #808080;
    font-family: "Bartender Bold Serif",-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 1em;
}

.order-item-qty {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    width: 80px;
    min-width: 80px;
    height: 30px;
    font-weight: bold;
    background-color: #ad9a74;
    border-radius: 8px;
    padding: 8px;
    margin-top: 6px;
}

.order-item-qty-sign {
    cursor: pointer;
    font-size: 1.2em;
    padding-bottom: 4px;
    user-select: none;
}

.order-item-qty-num {
    padding-bottom: 2px;
    user-select: none;
}

.order-bottom-tab {
    max-width: 100%;
    width: 400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    color: #fff;
}

.order-bottom-tab-left {
    font-size: 0.9em;
    text-align: left;
}

.order-bottom-tab-right {
    cursor: pointer;
    background-color: #ad9a74;
    border-radius: 2px;
    font-weight: bold;
    padding: 4px 10px;
    user-select: none;
}

.form-el {
    margin: 15px 0;
}

.form-el-1 {
    margin: 5px 0;
}

.order-tnc {
    color: #999;
    font-size: 0.8em;
}

.order-back-btn {
    cursor: pointer;
    color: #999;
    text-align: right;
    user-select: none;
    padding-bottom: 10px;
}

select option:hover {
    background-color: #fff;
}

.order-addr {
    height: fit-content;
    overflow: hidden;
}

.order-input {
    width: 100%;
    font-size: 1em;
    color: #fff;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #ad9a74;
    padding-left: 8px;
    padding-bottom: 4px;
}

.order-input:focus {
    outline: none;
}

.contact-icon {
    color: #808080;
    font-size: 2em;
    padding-right: 30px;
}

.contact-icon img {
    width: 30px;
}

.contact-info-container {
    vertical-align: bottom;
    text-align: left;
}

.menu-dish, .contact-info {
    padding-bottom: 30px;
}

.menu-dish-title {
    display: flex;
    justify-content: space-between;
    font-family: "Bartender Semi Condensed Serif Pressed",-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    color: #ad9a74;
    font-size: 2em;
    padding-bottom: 10px;
}

.menu-dish-price {
    padding-right: 10%;
}

.menu-dish-description, .contact-info-line {
    color: #808080;
    font-size: 1.5em;
    text-align: left;
}

.navbar-toggler>.close-icon {
    display:inline;
}

.navbar-toggler.collapsed>.close-icon, .navbar-toggler:not(.collapsed)>.navbar-toggler-icon-custom {
    display:none;
}

.nav-container {
    padding: 8px 0px;
    background-color: transparent;
}

.navbar-brand {
    display: flex;
    margin: 0px;
    padding: 10px 24px;
}

button:hover, button:focus {
    outline: none;
}

.navbar-toggler-icon-custom {
    padding: 1px 12px;
    margin: 5px 0px;
    background-color: #856b39;
}

[class^="ico-"], [class*=" ico-"] {
    display: inline-block;
    font: normal 1.4em/1 Arial, sans-serif;
    color:#856B39;
}

.ico-times:before {
    content: "\2716";
}

.menu-button {
    padding-right: 24px;
}

.nav-list {
    width: 100%;
}

.nav-drop {
    padding: 0px 30px;
    border-width: 0px;
}

.nav-link:hover, .nav-link:focus {
    outline: none;
}


a:hover {
    text-decoration: none;
}


@media (max-width:767px) {
    #home {
        padding-top: 65.28px;
    }

    #menu-container, #about-container, #order-container, #contact-container {
        width: 100%;
        padding: 50px 10% 0;
        text-align: center;
    }

    #home-container {
        padding: 0;
    }

    .home-row1 {
        flex-direction: column;
    }

    .home-row1-col1, .home-row1-col2 {
        width: 100%;
    }

    .home-row1-col2 {
        margin-top: 10%;
        margin-bottom: 10%;
        padding: 0 10%;
    }

    .home-text1, .home-text3 {
        left: 0;
    }

    .home-text1 {
        font-size: 36px;
    }
    
    .home-text2 {
        font-size: 2em;
    }
    
    .home-text3 {
        font-size: 45px;
    }

    .contact-icon img {
        width: 20px;
    }

    #contact-container-inner {
        flex-direction: column;
    }

    .contact-image-container {
        padding-right: 0;
        padding-bottom: 30px;
    }

    .contact-info-line {
        font-size: 1em;
    }

    .contact-info-container {
        vertical-align: middle;
        padding-top: 8px;
    }

    .menu-table-row {
        flex-direction: column;
    }

    .menu-category {
        width: 100%;
        font-size: 1.5em;
        padding-right: 0;
        padding-bottom: 40px;
        text-align: center;
    }

    .menu-dishes {
        width: 100%;
        padding-left: 0;
    }

    .menu-dish-price {
        padding-right: 0;
    }

    .menu-dish-title {
        font-size: 1.5em;
    }

    .menu-dish-description {
        font-size: 1.1em;
    }

    .navbar-brand {
        padding-left: 20px;
    }

    .menu-button {
        padding-right: 10px;
    }

    .navbar-collapse {
        min-height: 100vh;
        margin-top: 8px;
    }

    .menu-option {
        text-align: center;
        padding: 12px 18px;
    }

    .nav-container {
        background-color: black;
    }

    .nav-link {
        font-size: 2em;
        padding-top: 0px;
        padding-bottom: 0px;
    }

    .nav-item {
        margin-top: 20px;
    }

    .order-item-title {
        font-size: 1.4em;
    }

    .order-item-details, .order-item-cost {
        font-size: 0.8em;
    }

    .order-item-qty {
        width: 70px;
        min-width: 70px;
        height: 22px;
    }

    .order-item-qty-sign {
        font-size: 1em;
    }

    .order-item-qty-num {
        font-size: 0.8em;
    }
}


@media (min-width:768px) and (max-width:990px) {
    .menu-category {
        width: 20%;
    }
    
    .menu-dishes {
        width: 80%;
    }

    .list2 {
        margin: 0px 16px;
    }
    
    .list1 {
        position: absolute;
        right: 0;
        margin-right: 40px;
    }
}


@media (min-width:991px) {
    .list2 {
        margin: 0px 16px;
    }

    .list1 {
        position: absolute;
        right: 0;
        margin-right: 40px;
    }
}
